.container{
	margin-left:auto;
	margin-right:auto;
}


body{
    background-color:rgba(176,212,225,1);
}

.clear{
	clear:both;
}

/*//////////////////////////// SPLASH PAGE STYLES ////////////////*/
#titleWave{
	position: absolute;
	top:50%;
	transform:translate(0%,-50%);
	-o-transform:translate(0%,-50%);
	-webkit-transform:translate(0%,-50%);
	-moz-transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%);	
}

#titleBdp{
	width:60%;
	position: absolute;
	top:53%;
	left:52%;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);	
}



/*//////////////////////////// HOME PAGE ////////////////*/
#home{
	position: relative;
}

#topNav{
	width:100%;
	height:7.5vh;
	display: block;
	position: fixed;
	top:0px;
	z-index: 99999999;
    background-color:rgba(34,155,198,1);	
}

#navArrow{
	float:left;
	width:30px;
	margin:4% 0px 0px 5%;
}

#mobileMenu{
	float:right;
	width: 35px;
	margin:3.5% 5% 0px 0px;
}

#fmaPhoto{
	width:100%;
	height:40vh;
	margin-top:7.5vh;
	background-color: #fff;
	display: block;
	position: relative;
}

#fmaCaption{
	width:100%;
	height:60px;
	display: block;
    background-color:rgba(44,44,44,.5);
	position: absolute;
	bottom:0px;
}

#fmaCaption h1{
	color:#fff;
	font-size: 21px;
	line-height: 35px;
	margin-left: 5%;
}

#fmaCaption h2{
	color:#fff;
	font-size: 16px;
	margin-left: 5%;
}

#middleNav{
	width:100%;
	height:5vh;
	display: block;
	position: fixed;
	top:47.5vh;
}

#middleNav a{
	float:left;
	width:25%;
}

#middleNav h3{
    color:#229BC6;
	text-align: center;
	font-size: 14px;
	line-height: 5vh;
}

#bottomNav{
	width:100%;
	height:10vh;
	display: block;
	position: fixed;
	bottom:0px;
	z-index: 99999999;
    background-color:rgba(34,155,198,1);	
}

#bottomNav a{
	float: left;
	width: 25%;
}

#bottomNav div{
	display: block;
	width:40px;
	background-repeat: no-repeat;
	background-position: center;
	margin:15% 0px 0px 50%;
	transform:translate(-50%,0%);
	-o-transform:translate(-50%,0%);
	-webkit-transform:translate(-50%,0%);
	-moz-transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%);		
}




#middleNav .events h3{
	background-color: #fff;
    color:#2C2C2C;	
}

#bottomNav .home{
	background-color: #fff;
}



#mainSection{
	position: relative;
	margin-top:5vh;
	height:37.5vh;
}

.eventFeed{
	width: 100%;
	height:150px;
	display: block;
	z-index: 1;

}

.musicEvent{
    background-color:rgba(69,91,155,1);
}

.comedyEvent{
    background-color:rgba(198,81,79,1);
}

.filmsEvent{
    background-color:rgba(50,183,65,1);
}

.eventFeed span{
	float:left;
	width:20px;
	height:20px;
	display: block;
	background-color: #000;
	margin-right: 5px;
	margin-top:4px;
}

.eventArt{
	width:33%;
	height:100%;
	display: block;
	float:left;
	margin-right: 5%;
	background-color: #000;
	z-index: 1;
}

.eventFeed h1{
    color:#fff;
    font-size: 26px;
    line-height: 30px;
    float: left;
    padding-top:2.5%;
    margin:0px 0px 10px 0px;  
}

.eventFeed h2{
    color:#2C2C2C;
    width: 60%;
    font-size: 18px;
    line-height: 28px;	
    float: left;
}



